<template name="campaigns">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Campañas
            <small>Detalle de los Campañas</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Campañas</li>
          </ol>
        </section>
      
        <section class="content tablecenter">
        <div class="row">
        {{# each campaigns }}
        <div class="col-md-6">
        <div class="info-box" style="background: {{color}};">
            <span class="info-box-icon">{{#if fileId}}
              <div align="center"><img class="img-circle circle2" style="margin-bottom: 10px;" src="{{ pathFor 'dashboard' }}cfs/files/uploads/{{fileId}}"></div>
            {{else}}
            <div align="center"><img class="img-circle circle2" style="margin-bottom: 10px;" src="http://d.ibtimes.co.uk/en/full/1370699/adidas-logo.png"></div>
            {{/if}}</span>

            <div class="info-box-content">
              <span class="info-box-text">{{name}}</span>
              <span class="info-box-number">5,200</span>
               <div align="right">
           <!--  <button type="button" class="btn btn-warning"><a style="color: white;" href="{{ pathFor 'campaigns' }}/materials2/{{_id}}">Materiales</a></button> -->
            <button type="button" class="btn btn-primary"><a style="color: white;" href="{{ pathFor 'campaigns' }}/timeline/{{_id}}">Timeline</a></button>
            <button type="button" class="btn btn-default"><a style="color: black;" href="{{ pathFor 'campaigns' }}/detail/{{_id}}">Detalle</a></button>
             <button type="button" class="btn btn-default"><a style="color: black;" href="{{ pathFor 'campaigns' }}/{{_id}}"><i class="ion-gear-b"></i></a></button>
            </div>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
                  <span class="progress-description">
                    50% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
          {{/each}}
          </div>
          
   
        </section><!-- /.content -->
    <div class="content tablecenter">
    <div class="content" style="background:white;">
    <div class="row">
    {{#autoForm collection="Campaigns" id="campaigns" type="insert"}}
    <fieldset>
      <legend>CREAR CAMPAÑA</legend>
      {{> afQuickField name='name'}}
      {{> afQuickField name="fileId" type="cfs-file" collection="uploads"}}
      {{> afQuickField name='description'}}
      {{> afQuickField name='color'}}


    </fieldset>
    <div align="right"><button type="submit" class="btn btn-primary">Crear Campaña</button></div>
  {{/autoForm}}

        </div>
        </div>
        </div>
      </div><!-- /.content-wrapper -->


</template>

<template name="ShowCampaigns">
  {{> _appHeader}}
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Detalle
            <small>Editar Campaña</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Campañaes</li>
            <li class="active">Detalle</li>
          </ol>
        </section>
      

<div class="content tablecenter">

  {{#autoForm collection="Campaigns" doc=this id="ShowCampaigns" type="update"}}
    <fieldset>
      <legend>Editar Campaña</legend>
      {{> afQuickField name='name'}}
      {{> afQuickField name="fileId" type="cfs-file" collection="uploads"}}
      {{> afQuickField name='description'}}
      {{> afQuickField name='color'}}
    </fieldset>
    <div align="right">
    <button type="button" class="btn btn-danger remove">Borrar</button>
    <button type="button" class="btn btn-default cancel">Cancelar</button>
    <button type="submit" class="btn btn-primary cancel">Guardar</button>
    </div>
  {{/autoForm}}
</div>
</div>
  {{> _appFooter}}
</template>
<template name="Timeline">
  {{> _appHeader}}
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Detalle
            <small>Editar Timeline</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Campañaes</li>
            <li class="active">Detalle</li>
          </ol>
        </section>
      

<div class="content">

<!-- {{#autoForm schema=schema type="insert" id="Timeline"}}
  {{> afQuickField name="type" options="allowed" noselect=true}}
  {{#if afFieldValueIs name="type" value="Comunicado"}}
    {{> afQuickField name="user"}}
    {{> afQuickField name="comment"}}
  {{/if}}
{{/autoForm}} -->
<div class="content tablecenter">
<div class="row">
{{#autoForm collection="Campaigns" doc=this id="Timeline" type="update-pushArray" scope="timeline"}}
<fieldset>
<div class="col-md-4">
<legend>1. Selecciona el Tipo de Evento</legend>
{{> afQuickField name="type" options="allowed" noselect=true label=false}}
</div>
{{#if afFieldValueIs name="type" value="Petición"}}
<div class="col-md-4">
<legend>2. Selecciona los Encargados</legend>
    {{> afQuickField name="userIdsend" label="Coordinador"}}
    {{> afQuickField name="userIdreceive" label="Responsable"}}
</div>
<div class="col-md-4">
<legend>3. Escribe el Mensaje</legend>
    {{> afQuickField name="comment" style="height: 134px;" label=false}}
</div>
{{/if}}
{{#if afFieldValueIs name="type" value="Comunicado"}}
<div class="col-md-8">
<legend>2. Escribe el Mensaje</legend>
    {{> afQuickField name="comment" style="height: 134px;" label=false}}
</div>
{{/if}}
{{#if afFieldValueIs name="type" value="Imagen"}}
<div class="col-md-4">
<legend>2. Sube la Imagen</legend>
    {{> afQuickField name="fileId" type="cfs-file" collection="uploads" label=false}}
</div>
<div class="col-md-4">
<legend>3. Escribe el Mensaje</legend>
    {{> afQuickField name="comment" style="height: 134px;" label=false}}
</div>
{{/if}}
{{#if afFieldValueIs name="type" value="Video"}}
<div class="col-md-4">
<legend>2. Ingresa la URL del Video</legend>
    {{> afQuickField name="url" label=false}}
</div>
<div class="col-md-4">
<legend>3. Escribe el Mensaje</legend>
    {{> afQuickField name="comment" style="height: 134px;" label=false}}
</div>
{{/if}}
</fieldset>
<div align="right"><button type="submit" class="btn btn-primary cancel">Crear Evento</button></div>
{{/autoForm}}
</div>
</div>

  <ul class="timeline">
  {{# each timeline.[0]}}

  {{#if typeIs "Comunicado"}}
  <li class="time-label">
                  <span class="bg-blue">
                    {{formatDate2 createdAt}}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{formatTime createdAt}}</span>

                <h3 class="timeline-header"><a href="#">Comuniacado Oficial</a></h3>

                <div class="timeline-body">
                {{comment}}
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">Leer Mas</a>
                  <a class="btn btn-danger btn-xs">Responder</a>
                </div>
              </div>
            </li> 
  {{/if}}
  {{#if typeIs "Petición"}}
  <li class="time-label">
                  <span class="bg-aqua">
                    {{formatDate2 createdAt}}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-user bg-aqua"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{formatTime createdAt}}</span>

                <h3 class="timeline-header"><a href="#">Petición</a> de <a>{{username userIdsend}}</a></h3>

                <div class="timeline-body">
                {{comment}}
                <br>
                <a href="#">ENCARGADO: {{username userIdreceive}}</a>
                </div>
                <div class="timeline-footer">
                </div>
              </div>
            </li>  
  {{/if}}
    {{#if typeIs "Imagen"}}
  <li class="time-label">
                  <span class="bg-purple">
                    {{formatDate2 createdAt}}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-camera bg-purple"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{formatTime createdAt}}</span>

                <h3 class="timeline-header"><a href="#">{{username user}}</a> subió una foto</h3>

                <div class="timeline-body">
                  <img src="{{ pathFor 'dashboard' }}cfs/files/uploads/{{fileId}}" alt="..." class="margin">
                </div>
                {{comment}}
              </div>
            </li>
  {{/if}}
    {{#if typeIs "Video"}}
  <li class="time-label">
                  <span class="bg-maroon">
                    {{formatDate2 createdAt}}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
           <li>
              <i class="fa fa-video-camera bg-maroon"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{formatTime createdAt}}</span>

                <h3 class="timeline-header"><a href="#">{{username user}}</a> compartio un video</h3>

                <div class="timeline-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{url}}" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </div>
                <div class="timeline-footer">
                 <!--  <a href="#" class="btn btn-xs bg-maroon">Lee los comentarios</a> -->
                </div>
                {{comment}}
              </div>
            </li>
  {{/if}}
  {{/each}}
    <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>

</div>
</div>
  {{> _appFooter}}
</template>
<template name="Detail">
  {{> _appHeader}}
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Implementación de Materiales
            <small>de la Camapaña</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Campañas</li>
            <li class="active">Detalle</li>
          </ol>
        </section>
      

<div class="content tablecenter">

          <div class="box">
            <div class="box-header">
              <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
              <div class="col-md-2 col-sm-6 col-xs-12">

              <span class="info-box-icon">
              <div align="center"><img class="img-circle circle2" style="margin-bottom: 10px;" src="{{ pathFor 'dashboard' }}cfs/files/uploads/{{file.[0].fileId}}"></div>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">PERFORMACE</span>
              <span class="info-box-number">Campaña</span>
            </div>


              </div>
             <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion-settings"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Fabricado</span>
              <span class="info-box-number">Un: 62</span>
              <span class="info-box-number">100%</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-steam"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Despachado</span>
              <span class="info-box-number">Un: 56</span>
              <span class="info-box-number">90%</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="ion ion-ios-download-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Recepcionado</span>
              <span class="info-box-number">Un: 31</span>
              <span class="info-box-number">50%</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-checkmark-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Instalado</span>
              <span class="info-box-number">Un: 20</span>
              <span class="info-box-number">20%</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-thumbsup"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">OK</span>
              <span class="info-box-number">Un: 18</span>
              <span class="info-box-number">18%</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

              <table id="example1" class="table table-hover">
                <thead style="background:#367fa9;">

                <tr>
                  <th><div style="color:white;">Material</div></th><th><div style="color:white;">Foto</div></th><th><div style="color:white;">Fabricado</div></th><th><div style="color:white;">Despachado</div></th><th><div style="color:white;">Recepcionado</div></th><th><div style="color:white;">Instalado</div></th><th><div style="color:white;">OK</div></th><th><div style="color:white;">Status</div></th>
                </tr>
                </thead>
                <tbody>

                {{# each materials }}

                 <tr>
                 <th>{{name}}</th>
                 <td><img class="img-circle" src="{{ pathFor 'dashboard' }}cfs/files/uploads/{{fileId}}" style="width:80px; height:80px;" alt="User Avatar"></td>
                 <td>
                 <div class="progress-group">
                    <span class="progress-text">Un: {{buy}}</span>
                    <span class="progress-number"><b>70</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                    </div>
                  </div>
                 </td>
                 <td>
                 <div class="progress-group">
                    <span class="progress-text">Un: {{buy}}</span>
                    <span class="progress-number"><b>70</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                    </div>
                  </div>
                 </td>
                 <td>
                 <div class="progress-group">
                    <span class="progress-text">Un: {{buy}}</span>
                    <span class="progress-number"><b>70</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-blue" style="width: 80%"></div>
                    </div>
                  </div>
                 </td>
                 <td>
                 <div class="progress-group">
                    <span class="progress-text">Un: {{buy}}</span>
                    <span class="progress-number"><b>70</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div>
                 </td>
                  <td>
                 <div class="progress-group">
                    <span class="progress-text">Un: {{buy}}</span>
                    <span class="progress-number"><b>70</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                    </div>
                  </div>
                 </td>
                 <td><button type="button" class="btn btn-primary"><a style="color: white;" href="{{ pathFor 'campaigns' }}/implementation/{{_id}}">Status</a></button></td>
                 </tr>
                             
                {{/each}}
                </tbody>
              
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
</div>
  {{> _appFooter}}
</template>



