<template name="countries">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Paises
            <small>Paises Ingresados</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Cuentas</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
   <!--      {{# each materials }}
        
        
        {{/ each }} -->

        {{> tabular table=TabularTables.Countries class="table table-striped table-bordered table-condensed table-hover"}}
        </div>
        </div>
        <div class="row">
        <div class="content tablecenter">
        <br>
             {{#autoForm collection="Countries" id="insertCountriesForm" type="insert"}}
            <fieldset>
              <legend>INGRESAR NUEVO PAIS</legend>
              {{> afQuickField name='name'}}
            </fieldset>
            <br>
            <div align="right">
          <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
         {{/autoForm}}
        </div>
        </div>
        
        </section>
      </div>
</template>

<template name="ShowCountries">
{{> _appHeader}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Paises
            <small>Editar</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Pais</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
   <!--      {{> quickForm collection="Countries" doc=this id="ShowCountries" type="update"}} -->
        {{#autoForm collection="Countries" doc=this id="ShowCountries" type="update"}}
          <fieldset>
            <legend>Editar Pais</legend>
            {{> afQuickField name='name'}}
          </fieldset>
          <div align="right">
          <button type="button" class="btn btn-danger remove">Borrar</button>
          <button type="button" class="btn btn-default cancel">Cancelar</button>
          <button type="submit" class="btn btn-primary cancel">Guardar</button>
          </div>
        {{/autoForm}}       
        </div>
        </div>
        
        </section>
      </div>
      {{> _appFooter}}
</template>
<template name="ButtonShowCountries">
  <div align="center"><button type="button" class="btn btn-xs btn-default edit"><i class="ion-gear-b"> Editar</i></button></div>
</template>