<template name="calendar">
<head>
  <title>scheduler</title>

<style type="text/css" class="screen">
    html, body{
        margin:0px;
        padding:0px;
        height:95%;
       /* overflow:hidden;*/
    }
</style>
</head>

<body class="tablecenter">

<input action="action" type="button" class="btn btn-primary" style="width:100%;" value="Volver" onclick="history.go(-1);" />

  {{> scheduler}}

</body>
</template>

<template name="scheduler">
<div class="myscheduler" style='width:100%; height:100%;'></div>
</template>