<template name="calendar">
<head>
  <title>scheduler</title>

<style type="text/css" class="screen">
    html, body{
        margin:0px;
        padding:0px;
        height:95%;
       /* overflow:hidden;*/
    }
</style>
</head>
<!-- {{> _appHeader}} -->
<!-- <body style="margin-left: 222px;height:70%;"> -->
<body class="tablecenter">

<input action="action" type="button" class="btn btn-primary" style="width:100%;" value="Volver" onclick="history.go(-1);" />

  {{> scheduler}}
<!-- {{> _appFooter}} -->
</body>

<!--       <div class="content-wrapper">
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Calendario
            <small>Agenda tus Actividades</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Calendario</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
            <div class="myscheduler" style='width:100%; height:100%;'></div>

    
        </div>
        </div>
        
        </section>
      </div> -->
      
</template>






<template name="scheduler">

<div class="myscheduler" style='width:100%; height:100%;'></div>


</template>