// Bootstrap Variables
@import "./lib/bootstrap/variables.import.less";

// Custom Variables
@brand-primary: #0073b7;

.content-header{

 margin-bottom: 10px;
 
}
.content{
	
	background-color: white;
}
.tablecenter{
	

	margin: 20px;
    //background: #ecf0f5;
    border-radius: 10px;
    //border-color: black;

}

.even{

	height: 40px;
}

.odd{

	height: 40px;

}

.placeholder{
	
	color: #000;
}

.img-circle{
	
	height: 120px;
	width: 120px;
	border: 3px solid #fff;

}
.circle2{
	
	height: 80px;
	width: 80px;
	border: 3px solid #fff;

}
	#map {
    min-height: 650px;
    min-width: 50%;
  }

