// Bootstrap Variables
@import "./lib/bootstrap/variables.import.less";

// Custom Variables
@brand-primary: #0073b7;

.tablecenter{
	

	margin: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border-color: black;

}

.even{

	height: 40px;
}

.odd{

	height: 40px;

}

.placeholder{
	
	color: #000;
}

.img-circle{
	
	height: 120px;
	width: 120px;
	border: 3px solid #fff;

}
	#map {
    min-height: 650px;
    min-width: 50%;
  }

