<template name="shops">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Tiendas
            <small>Tiendas Ingresadas</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Tiendas</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
        <div class="col-md-4">.
        <div class="map">
        {{> map}}
        </div>
        </div>
        <div class="col-md-8">
        <div style="margin-top: 30px;">
        {{> tabular table=TabularTables.Shops class="table table-striped table-bordered table-condensed table-hover"}}
        </div>
        </div>
   <!--      {{# each materials }}
        
        
        {{/ each }} -->

        </div>
        </div>
        <div class="row">
        <div class="content tablecenter">
        <br>
           {{#autoForm collection="Shops" doc=this id="insertShopsForm" type="insert"}}
          <fieldset>
            <legend>CREAR TIENDA</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='code'}}
            {{> afQuickField name='zoneId'}}
            {{> afQuickField name='address'}}
            {{> afQuickField name='phone'}}
            {{> afQuickField name='lat'}}
            {{> afQuickField name='lon'}}
            {{> afQuickField name='fileId'}}
            {{> afQuickField name='contact'}}
          </fieldset>
          <div align="right">
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-primary cancel">Crear</button>
          </div>
        {{/autoForm}}       
            <!-- <fieldset>
              <legend>INGRESAR NUEVA SUCURSAL</legend>
              {{> afQuickField name='name'}}
              {{> afQuickField name='buy'}}
              {{> afQuickField name='stock'}}
            </fieldset>
            <br>
            <div align="right">
          <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
         {{/autoForm}} -->
        </div>
        </div>
        
        </section>
      </div>
</template>

<template name="ShowShops">
{{> _appHeader}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Tiendas
            <small>Aqui puedes ingresar las Tiendas donde trabajan</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Sucursal</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
   <!--      {{> quickForm collection="Shops" doc=this id="ShowShops" type="update"}} -->
        {{#autoForm collection="Shops" doc=this id="ShowShops" type="update"}}
          <fieldset>
            <legend>Editar Sucursal</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='code'}}
            {{> afQuickField name='zoneId'}}
            {{> afQuickField name='address'}}
            {{> afQuickField name='phone'}}
            {{> afQuickField name='lat'}}
            {{> afQuickField name='lon'}}
            {{> afQuickField name='fileId'}}
            {{> afQuickField name='contact'}}
          </fieldset>
          <div align="right">
          <button type="button" class="btn btn-danger remove">Borrar</button>
          <button type="button" class="btn btn-default cancel">Cancelar</button>
          <button type="submit" class="btn btn-primary cancel">Guardar</button>
          </div>
        {{/autoForm}}       
        </div>
        </div>
        
        </section>
      </div>
      {{> _appFooter}}
</template>
<template name="ButtonShowShops">
  <div align="center"><button type="button" class="btn btn-xs btn-default edit"><i class="ion-gear-b"> Editar</i></button></div>
</template>

<template name="map">
  <div id="map"></div>   
</template>